
#titulo{
    text-align: center;
    font-size: 40;
    background-color: coral;
    background: linear-gradient(top, blue, rgb(124, 210, 212));
    background: -webkit-linear-gradient(top, blue, rgb(124, 210, 212));
    background: -ms-linear-gradient(top, blue, rgb(124, 210, 212));
    background: -o-linear-gradient(top, blue, rgb(124, 210, 212));
    width: 50%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 40px auto;
    padding: 15px;
    color: white;
    box-shadow: grey 50px 15px 15px;
}

.imagen{
    width: 200px;
    height: 130px;
    padding: 4px;
    border: 2px solid black;
    float: left;
    margin: 100px 10px 10px;
    border-radius: 10px;
}
